<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>AsrielBorg Panel Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/scripts/bootstrap.min.css" rel="stylesheet">
    <link href="/scripts/bootstrap-theme.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 70px;
        }
        .spacing {
            padding-bottom: 20px;
        }
        .warning {
            color: #FF0000;
            display: none;
        }
    </style>

    <!-- JQuery -->
    <script type="text/javascript" src="/scripts/jquery-3.1.0.min.js"></script>

</head>
    
<body>

    <script>
        function show_warning(message) {
            $(".warning").fadeOut();
            $(".warning").text("Message from server: " + message);
            $(".warning").fadeIn();
        }
    </script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">AsrielBorg Web Panel</a>
        </div>
    </nav>

    <% if (locals.password_set) { %>
        <!-- Displayed if password is set -->

        <div class="container">
            <div class="page-header">
                <h2>Login Form</h2>
            </div>
            <p class="warning"></p>
            <form id="login" name="login_form">
                <div class="input-group">
                    <input type="text" name="login_name" class="form-control" placeholder="Nickname"><br>
                    <div class="spacing"></div>
                    <input type="password" name="login_input" class="form-control" placeholder="Password"><br>
                    <div class="spacing"></div>
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
        </div>

        <script type="text/javascript">
        $(function() {
            $("#login").submit( function (e) {
                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: $('#login').serialize(),
                    success: function (res) {
                        if (res.success_state) {
                            //This is your current session's token.
                            //Do not share it with anybody or they may gain access to your session.
                            var token = res.token;
                            
                            var date = new Date();
                            date.setTime(date.getTime() + (12 * 60 * 60 * 1000));
                            
                            document.cookie = `token=${token}; expires=${date.toGMTString()}; path=/`
                            window.location = '/panel';
                        } else {
                            show_warning(res.message);
                        }
                    }
                });
                e.preventDefault();
            });
        });
        </script>

    <% } else { %>
        <!-- Displayed if password not set -->
        <div class="container">
            <div class="page-header">
                <h2>Welcome to AsrielBorg Panel.</h2>
            </div>
            <p>Please enter a new password to continue.</p>
            <p class="warning"></p>

            <form id="makepassword">
                <div class="input-group">
                    <input type=password name="new_password" class="form-control" placeholder="password">
                </div>
            </form>
        </div>
        
        <script type="text/javascript">
            $(function() {
                $("#makepassword").submit( function (e) {
                    $.ajax({
                        type: 'POST',
                        url: '/',
                        data: $("#makepassword").serialize(),
                        success: function (res) {
                            if (res.success_state) {
                                location.reload();
                            } else {
                                show_warning(res.message)
                            }
                        }
                    });
                    e.preventDefault();
                });
            });
        </script>
    <% } %>

    <!-- Bootstrap -->
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
</body>
    
</html>