<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>AsrielBorg Panel</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- JQuery UI CSS -->
    <link href="/css/jquery-ui.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 30px;
        }
        .spacing {
            padding-bottom: 20px;
        }
        .warning {
            color: #FF0000;
            display: none;
        }
    </style>

    <!-- Socket.io -->
    <script type="text/javascript" src='/scripts/socket.io-1.4.5.js'></script>  

    <title>AsrielBorg Control Panel</title>
    
    <!-- Read cookie script -->
    <script type="text/javascript">
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
    </script>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">AsrielBorg Web Panel</a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Users -->
            <div class="col-md-3">
                <div class="page-header">
                    <h2>Users</h2>
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading">Users</div>

                      <!-- Table -->
                      <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>IP Address</th>
                                </tr>
                            </thead>
                            <tbody id="usertable">
                        </thead>
                      </table>
                    </div>
                </div>
            </div><!-- /Users -->

            <div class="col-md-7">
                <div class="page-header">
                    <h2>Controls</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Reply rate</strong>
                        <div id="replyrate-slider" class="slider"></div>
                    </div>
                    <div class="col-md-4">
                        <strong>Reply nick</strong>
                        <div id="replynick-slider"></div>
                    </div>
                    <div class="col-md-4">
                        <strong>Reply magic</strong>
                        <div id="replymagic-slider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        'use strict'
        let token = readCookie('token');
        
        //If there is no token, you must go back to the main page
        //to login again and get a new one.
        if (typeof token === 'null') {
            window.location.href = '/';
        }
        else {
            var socket = io.connect('', {
                query: 'token=' + token
            });

            socket.on('connect', function () {
                console.log("Connected to the server.");
            });

            socket.on('bot_config', function (data) {

            });

            socket.on('update_token', function (data) {
                'use strict'
                token = data.token;

                let date = new Date();
                date.setTime(date.getTime() + (12 * 60 * 60 * 1000));
                
                document.cookie = `token=${token}; expires=${date.toGMTString()}; path=/`
            });
            
            socket.on('error', function (data) {
                if (data.message) {
                    alert("Connection closed. " + data.message);
                } else {
                    alert("Connection closed. Reason unknown.");
                }
                
                document.cookie = 'token=;Path=/;expires Thu, 01 Jan 1970 00:00:01 GMT;'
                window.location.href = '/';
            });

            socket.on('invalid_token', function (data) {
                if (data.message) {
                    alert("Connection closed. " + data.message);
                } else {
                    alert("Connection closed. Reason unknown.");
                }
                
                document.cookie = 'token=;Path=/;expires Thu, 01 Jan 1970 00:00:01 GMT;'
                window.location.href = '/';
            })
            
            socket.on('connect_timeout', function() {
               alert('The connection has timed out.'); 
            });

            socket.on('user_list', function(data) {
                "use strict"
                let online_users = data;
                $("#usertable").html(""); // Empty the user list to receive a new one.
                online_users.forEach(function (user) {
                    let row  = document.getElementById("usertable")
                                       .insertRow();
                    let nickname_cell   = row.insertCell(0);
                    let ip_address_cell = row.insertCell(1);
                    nickname_cell.innerHTML   = user.nickname;
                    ip_address_cell.innerHTML = user.ip_address;
                });
            });
        }
    </script>

    <!-- JQuery -->
    <script type='text/javascript' src="/scripts/jquery-3.1.0.min.js"></script>
    <script type='text/javascript' src="/scripts/jquery-ui.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
</body>
</html>