body {
    padding-top: 30px;
}

.spacing {
    padding-bottom: 10px;
}

.asriel-table {
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
}

.asriel-table tr {
    height: 8px !important;
}

.asriel-table > * > td:not(.empty-cell) {
    height: 20px;
}

.table-scroll {
    height: 300px;
    display: block;
    overflow-y: scroll;
}

span.word {
    width: 100%;
}